{
  "presets": [
    [
      "@babel/preset-env",
      {
        // 在 tree shaking 前不转换 es6 模块
        // 在 tree shaking 后还是会转换的，将 import 转成 __webpack_require__
         "modules":false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
//    [
//      "import",
//      {
//        "libraryName": "antd",
//        "libraryDirectory": "es",
//        "style": "css"
//         `style: true` 会加载 less 文件
//      }
//    ]
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": true
      }
    ]
  ]
}

